* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{text-decoration: none;

}
.page_wraper{
  padding:  0 5%;
}
body {
  font-family: cursive;
}



li {
  list-style: none;

}
/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(105deg, rgb(1, 139, 139),#afc1c8 );
  color: black;
  position: fixed;
  height: 80px;
  font-weight: 700;
  
}
.navbar ul{
  margin-right:20%;
}

.nav-links a {
  color: black;
  text-decoration: none;
  margin-right: 25%;
  
}

/* LOGO */
.logo {
  border: #000;
  width:12%;
  margin-right:25%;
  cursor: pointer;
}

/* NAVBAR MENU */
.menu {
  
  display: flex;
  gap: 1em;
  font-size: 18px;
  margin-left: 60%;
}

.menu li:hover {
  background-color: #4c9e9e;
  height: 40px;
  border-radius: 5px;
  transition: 30s ease;
  text-decoration: none;
  text-shadow: #01c7e9;
}
.menu a :hover {
  text-decoration: none;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */
.categories {
  position: relative; 
}

.dropdown {
  background-color: rgb(173, 210, 210);
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  width: 8em;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); /* إضافة تأثير الظل هنا */
  z-index: 1;
  margin-top: 10%;
  transform: scale(1.2);
  transition: transform 2s ease-in-out;

}
.categories:hover .dropdown,
.user:hover .dropdown {
display: block;
transform: scale(1.2);

}


/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
margin-right: -50%;
  
  
}
.categroy{
 display: flex;
  gap: 2%;
  margin: 5%;
  text-align: center;
  color: #000;
  
}

.h2 a {text-decoration: none;}
.categories h1{
  text-align: center;
}
.card{
  width: 80%;
 
}
.card :hover{
  cursor: pointer;
}
.parteners{
  display: flex;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}

a,
a:active,
a:focus {
  color: #333;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
max-width: 100%;
height: auto;
}
#but1{
  background-color: black;
   color: aliceblue;
    margin-top: -10%; 
    z-index: 1;
     position: absolute;
      margin-left:59%;
      height: 15%;
      width: 20%;
      cursor: pointer;
      border-radius: 5px;
}
#but2{
  background-color:rgb(4, 4, 4);
   color:rgb(120, 120, 120);
    margin-top: -10%; 
    z-index: 1;
     position: absolute;
      margin-left: 15%;
      height: 15%;
      width: 20%;
      cursor: pointer;
      border-radius: 5px;
}

#but3{
background-color: rgb(1, 139, 139);
 color:rgb(8, 8, 8);
  margin-top: -8%; 
  z-index: 1;
   position: absolute;
    margin-left: 20%;
    height: 8%;
    width: 10%;
    cursor: pointer;
    border-radius: 5px;
  font-weight: 600;}
section {
  padding: 20px 0;
 /* min-height: 100vh;*/
}
.footer {
background: linear-gradient(105deg,#afc1c8 , rgb(1, 139, 139));
padding-top: 80px;
padding-bottom: 40px;
color: #000;
}

/*END FOOTER SOCIAL DESIGN*/
/* start about us*/
.containerabout{
display: grid;
grid-template-columns: .7fr 1fr;
padding: 5%;
/* text-align:justify; */

}
.containerabout h1{
text-align: center;
}
.containerabout img{
margin-left: 10%;


}
.cat{
color: white;
}
.cat:hover{
color: black;
}
.textpolicy{
max-width: 75%;
padding: 5%;
color: color-mix(in srgb-linear, black 85%, white 2%);
}
body {
font-family: Arial, sans-serif;
background-color: #f0f0f0;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 20px;
}

h1 {
text-align: center;
}

.card-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.card1 {
border: 1px solid #ddd;
padding: 10px;
margin: 10px;
width: 250px;
text-align: center;
box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
background-color: #fff;
border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;

}


.card1 img {
max-width: 100%;
height: auto;

}

.card1 h3 {
margin-top: 10px;
font-size: 1.2em;

}

.no-data {
display: none;
}

/*end about us*/
@media only screen and (max-width:768px) { 
.single_footer{margin-bottom:30px;}
}
.single_footer h4 {
color: black;
margin-top: 0;
margin-bottom: 25px;
font-weight: 700;
text-transform: uppercase;
font-size: 20px;
}
.single_footer h4::after {
content: "";
display: block;
height: 2px;
width: 40px;
background: #fff;
margin-top: 20px;
}
.single_footer p{color:#fff;}
.single_footer ul {
margin: 0;
padding: 0;
list-style: none;
}

.single_footer ul li a {
color: white;
-webkit-transition: all 0.3s ease 0s;
transition: all 0.3s ease 0s;
line-height: 36px;
font-size: 15px;
text-transform: capitalize;
}
.single_footer ul li a:hover { color: black;
text-decoration: none; 
font-size: larger;}


.single_footer_address ul li{color:black;}
.single_footer_address ul li span {
font-weight: 400;
color: #fff;
line-height: 28px;
}
.contact_social ul {
list-style: outside none none;
margin: 0;
padding: 0;
}

/*START NEWSLETTER CSS*/
.subscribe {
display: block;
position: relative;
margin-top: 15px;
width: 100%;
}
.subscribe__input {
background-color: #fff;
border: medium none;
border-radius: 5px;
color: #333;
display: block;
font-size: 15px;
font-weight: 500;
height: 60px;
letter-spacing: 0.4px;
margin: 0;
padding: 0 150px 0 20px;
text-align: center;
text-transform: capitalize;
width: 100%;
}
@media only screen and (max-width:768px) { 
.subscribe__input{padding: 0 50px 0 20px;}
}

.subscribe__btn {
background-color: transparent;
border-radius: 0 25px 25px 0;
color: #01c7e9;
cursor: pointer;
display: block;
font-size: 20px;
height: 60px;
position: absolute;
right: 0;
top: 0;
width: 60px;
}
.subscribe__btn i{transition: all 0.3s ease 0s;}
@media only screen and (max-width:768px) { 
.subscribe__btn{right:0px;}
}

.subscribe__btn:hover i{
color:#698ab3;
}
button {
padding: 0;
border: none;
background-color: transparent;
-webkit-border-radius: 0;
border-radius: 0;
}
/*END NEWSLETTER CSS*/

/*START SOCIAL PROFILE CSS*/
.social_profile {margin-top:40px;}
.social_profile ul{
list-style: outside none none;
margin: 0;
padding: 0;
}
.social_profile ul li{float:left;}
.social_profile ul li a {
text-align: center;
border: 0px;
text-transform: uppercase;
transition: all 0.3s ease 0s;
margin: 0px 5px;
font-size: 18px;
color: #fff;
border-radius: 30px;
width: 50px;
height: 50px;
line-height: 50px;
display: block;
border: 1px solid rgba(255,255,255,0.2);
}
@media only screen and (max-width:768px) { 
.social_profile ul li a{margin-right:10px;margin-bottom:10px;}
}
@media only screen and (max-width:480px) { 
.social_profile ul li a{
width:40px;
height:40px;
line-height:40px;
}
}
.social_profile ul li a:hover{
background:#060606;
border: 1px solid #0a0a0a;
color:#fff;
border:0px;
}
/*END SOCIAL PROFILE CSS*/
.copyright {
margin-top: 70px;
padding-top: 40px;
color:#fff;
font-size: 15px;
border-top: 1px solid rgba(255,255,255,0.4);
text-align: center;
}
.copyright a{color:#5e6062;transition: all 0.2s ease 0s;}
.copyright a:hover{color:#070707;
font-size: larger;
text-decoration: none;}
/* APPLYING MEDIA QUERIES */
/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
     display:none;
     position: absolute;
     background-color:teal;
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
     z-index: 1;
   }
 
   .menu li:hover {
     display: inline-block;
     background-color:#4c9e9e;
     transition: 0.3s ease;
   }
 
   .menu li + li {
     margin-top: 12px;
   }
 
   input[type=checkbox]:checked ~ .menu {
     display: block;
   }
 
   .hamburger {
     display: block;
     margin-left: 20%;
   }
 
   .dropdown {
     top: 30px;
     transform: translateX(35%);
     z-index: 1;

   }
 
   .dropdown li:hover {
     background-color: #4c9e9e;
   }
   .logo{
    width:30%;
    margin-left:-10%
   }
 }