/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	font-family: sans-serif;
}
a,
.btn {
  transition: all 300ms ease;
}

/* -- -------------------Nav Bare----------------- -- */

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
}
.brand-img{
  width: 10rem;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-size: 25px;
}

.navbar-links li:hover {
  background-color: #555;
  border-radius: 5px;
  transition: .5s;
}

.toggle-button {
  position: absolute;
  top: 1.9rem;
  right: 9rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


/* -- -------------------/Nav Bare----------------- -- */

/* -----------------------SideBar--------------------- */

.app {
	display: flex;
	min-height: 100vh;
}

.menu-toggle {
	display: none;
	position: fixed;
	top: 0.9rem;
	right: 2rem;
	width: 60px;
	height: 50px;
	border-radius: 99px;
	background-color: #2e3047;
	cursor: pointer;
  
}

.hamburger {
	position: relative;
	top: calc(50% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
}

.hamburger > span,
.hamburger > span::before,
.hamburger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background-color: #FFF;
  transition-duration: .25s;
}

.hamburger > span::before {
  content: '';
  top: -8px;
}
.hamburger > span::after {
  content: '';
  top: 8px;
}
.menu-toggle.is-active .hamburger > span {
  transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before {
  top: 0;
  transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after {
  top: 0;
  transform: rotate(90deg);
}

.sidebar {
	flex: 1 1 0;
	max-width: 300px;
	padding: 3rem 3rem;
	background-color: #2e3047;
  font-size: 1.3rem;
}

/* .sidebar h3 {
	color: #707793;
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-bottom: 0.5em;
  
} */
.sidebar-logo img{
  width: 7rem;
  margin-left: 3.3rem;
  
  
}

.sidebar .menu {
	margin: 0 -1rem;
  /* border: 2px solid yellow; */
  text-align: center;
  margin-top: 5rem;
}

.sidebar .menu .menu-item {
	display: block;
	padding: 1em;
	color: #FFF;
	text-decoration: none;
	transition: 0.2s linear;
}

.sidebar .menu .menu-item:hover,
.sidebar .menu .menu-item.is-active {
	color: #3bba9c;
	border-right: 5px solid #3bba9c;
  
}

.sidebar .menu .menu-item:hover {
	border-right: 5px solid #3bba9c;

}
/* -----------------------SideBar--------------------- */

/* -------------------------Section-------------------- */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  overflow: hidden;
}
.profile-card {
  width: 60%; /* Set the width to 75% */
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
	/* border: 5px solid #aeff00; */
  height: 34rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  align-self: center;

}
.profile-card:hover {
  transform: translateY(-1px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.profile-image {
  width: 20rem;
  height: 18rem;
  border-radius: 50%;
  object-fit: cover;
  /* margin-bottom: 15px; */
	border: 1px solid #dbdcda;

}
.profile-info {
  text-align: center;
  /* margin-top: 3rem; */
  /* border: 5px solid #aeff00; */


}
.profile-name {
  font-size: 24px;
  margin-bottom: 2px;
}
.profile-age,
.profile-email {
  font-size: 16px;
  color: #666;
}


@media (max-width: 545px) {
 .profile-card{
  margin-bottom: 15rem;
 }

 .profile-image {
  width: 15rem;
  height: 15rem;
 }
}

@media (max-width: 310px) {
  .profile-card{
   margin-bottom: 15rem;
  }
 
  .profile-image {
   width: 6rem;
   height: 8rem;
  }
 }

@media (max-width: 420px) {
  .profile-image {
    width: 14rem;
    height:12rem;
   }
  }

@media (max-width: 390px) {
  .profile-image {
    width: 10rem;
    height:12rem;
   }
}

@media (max-width: 290px) {
  .profile-image {
    width: 10rem;
    height:12rem;
   }
}
@media (max-width: 288px) {
  .profile-image {
    width: 8rem;
    height:9rem;
   }
}