* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  margin: 0;
}
button,
input[type="button"] {
  cursor: pointer;
}
button:focus,
input:focus {
  outline: 0;
}
input {
  border: none;
}
button {
  border: none;
  background: 0 0;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  margin: 0;
}
.card {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  display: inline-block;
}
a:active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}
a,
a:hover {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
section {
  position: relative;
}
.section__content {
  position: relative;
  margin: 0 auto;
  z-index: 1;
}
.section__content--p30 {
  padding: 0 30px;
}
@media (max-width: 991px) {
  .section__content--p30 {
    padding: 0;
  }
}
.section__content--p35 {
  padding: 0 35px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1320px;
  }
}
.page-wrapper {
  overflow: hidden;
  background: #e5e5e5;
}
@media (max-width: 991px) {
  .page-wrapper {
    overflow: auto;
    background: #e5e5e5;
    padding-bottom: 2vh;
  }
}
.page-container {
  background: #e5e5e5;
  padding-left: 300px;
}
@media (max-width: 991px) {
  .page-container {
    position: relative;
    top: 88px;
    padding-left: 0;
  }
}
.page-container2 {
  background: #f2f2f2;
  padding-left: 300px;
}
@media (max-width: 991px) {
  .page-container2 {
    position: relative;
    padding-left: 0;
  }
}
.page-container3 {
  background: #f7f7f7;
}
.main-content {
  padding-top: 116px;
  min-height: 100vh;
}
@media (max-width: 991px) {
  .main-content {
    padding-top: 50px;
    padding-bottom: 100px;
  }
}
.page-content--bgf7 {
  background: #f7f7f7;
}
.fontawesome-list__title {
  padding-bottom: 20px;
  border-bottom: 1px solid #c9cdd7;
  margin-bottom: 20px;
  margin-top: 30px;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.form-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 991px) {
  .form-header {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.select2-container {
  display: block;
  max-width: 100% !important;
  width: auto !important;
  outline: 0;
}
.form-control {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.card {
  margin-bottom: 30px;
}
.input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}
.header-desktop {
  background: #f5f5f5;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 300px;
  height: 75px;
  z-index: 3;
}
.header-desktop .section__content {
  overflow: visible;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media (max-width: 991px) {
  .header-desktop {
    position: relative;
    top: 0;
    left: 0;
    height: 170px;
  }
}
@media (max-width: 991px) {
  .logo {
    text-align: center;
  }
}
.header-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 991px) {
  .header-button {
    margin-top: 30px;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
.menu-sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
}
.menu-sidebar .logo {
  background: #f5f5f5;
  height: 75px;
  padding: 0 35px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-right: 1px solid #e5e5e5;
  position: relative;
  z-index: 3;
}
.menu-sidebar__content {
  position: relative;
  height: -webkit-calc(100vh - 75px);
  height: -moz-calc(100vh - 75px);
  height: calc(100vh - 75px);
}
.navbar-sidebar {
  padding: 35px;
  padding-bottom: 0;
}
.navbar-sidebar .navbar__list li a {
  display: block;
  color: #555;
  font-size: 16px;
  padding: 15px 0;
}
.navbar-sidebar .navbar__list li a i {
  margin-right: 19px;
}
.navbar-sidebar .navbar__list li a:hover {
  color: #4272d7;
}
.header-mobile {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-mobile .navbar-mobile {
  display: none;
  position: absolute;
  width: 100%;
  top: 88px;
  z-index: 20;
}
.header-mobile .navbar-mobile .navbar-mobile__list {
  background: #f8f8f8;
}
.header-mobile .navbar-mobile .navbar-mobile__list > li > a {
  padding-left: 15px !important;
}
.header-mobile .navbar-mobile .navbar-mobile__list li a {
  color: #555;
  display: block;
  padding: 10px 15px;
  padding-right: 25px;
  padding-left: 0;
  border-bottom: 1px solid #e6e6e6;
  text-transform: capitalize;
  line-height: inherit;
}
.header-mobile .navbar-mobile .navbar-mobile__list li a:hover {
  color: #4272d7;
}
.header-mobile .navbar-mobile .navbar-mobile__list li a > i {
  margin-right: 19px;
}
.header-mobile-2 {
  background: #393939;
  position: static;
}
.header-mobile-2.header-mobile .navbar-mobile {
  top: 82px;
}
.email__title {
  padding: 22px;
  border-bottom: 1px solid #f2f2f2;
  cursor: default;
}
.email__title p {
  line-height: -webkit-calc(29/14);
  line-height: -moz-calc(29/14);
  line-height: calc(29 / 14);
  font-size: 14px;
  color: grey;
}
.email__footer a {
  display: block;
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;
  color: #4272d7;
  padding: 24px 0;
}
.email__footer a:hover {
  color: #3868cd;
}
.menu-sidebar-min {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
.menu-sidebar2 {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  overflow-y: auto;
  height: 100vh;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1000;
}
.menu-sidebar2 .logo {
  height: 75px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #393939;
  padding: 0 35px;
}
@media (max-width: 991px) {
  .menu-sidebar2 {
    top: 0;
    right: -300px;
    left: auto;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  }
}
.account2 {
  padding: 38px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-bottom: 1px solid #f2f2f2;
}
.account2 .name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.account2 > a {
  font-size: 14px;
  color: #999;
}
.account2 > a:hover {
  color: #666;
}
.menu-sidebar2__content {
  height: -webkit-calc(100vh - 75px);
  height: -moz-calc(100vh - 75px);
  height: calc(100vh - 75px);
  border-right: 1px solid #e5e5e5;
  position: relative;
}
.navbar-sidebar2 .navbar__list li {
  position: relative;
  cursor: pointer;
}
.navbar-sidebar2 .navbar__list li:hover > a {
  color: #4272d7;
}
.navbar-sidebar2 .navbar__list li a {
  font-size: 16px;
  color: #555;
  display: block;
  padding: 18px 35px;
  border-bottom: 1px solid #f2f2f2;
}
.navbar-sidebar2 .navbar__list li a > i {
  margin-right: 20px;
}
.header-desktop2 {
  height: 75px;
  background: #4272d7;
  position: fixed;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 300px;
}
@media (max-width: 991px) {
  .header-desktop2 {
    left: 0;
    position: relative;
  }
}
.header-desktop2 .section__content {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.header-button2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.header-desktop3 {
  background: #393939;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 76px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.header-desktop3 .section__content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  right: 0;
}
@media (max-width: 1315px) and (min-width: 992px) {
  .header-desktop3 .section__content {
    padding: 0 15px;
  }
}
.header__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 3;
}
.header__navbar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__navbar ul li {
  position: relative;
}
.header__navbar ul li:last-child a {
  border-right: 1px solid rgba(255, 255, 255, 0.102);
}
.header__navbar ul li a {
  display: block;
  font-size: 16px;
  color: #ccc;
  padding: 25px 30px;
  border-left: 1px solid rgba(255, 255, 255, 0.102);
}
.header__navbar ul li a i {
  margin-right: 13px;
}
.header__navbar ul li a:hover {
  color: #4272d7;
}
@media (max-width: 1570px) and (min-width: 992px) {
  .header__navbar ul li a {
    padding: 25px 15px;
  }
}
@media (max-width: 1315px) and (min-width: 992px) {
  .header__navbar ul li a {
    font-size: 13px;
    padding: 27px 15px;
  }
  .header__navbar ul li a i {
    margin-right: 5px;
  }
}
.header-desktop4 {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
}
@media (max-width: 991px) {
  .header-desktop4 {
    position: static;
  }
}
.navbar-sidebar3 {
  padding-right: 20px;
}
.navbar-sidebar3 .navbar__list li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 18px 27px;
  border-bottom: none;
}
@media (max-width: 1199px) {
  .navbar-sidebar3 {
    padding-right: 0;
    margin-bottom: 30px;
  }
}
.chart-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -moz-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 30px;
  font-size: 14px;
}
.block-email {
  font-size: 14px;
  color: grey;
  display: inline-block;
  background: #f2f2f2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 30px;
  padding: 0 14px;
}
.copyright {
  text-align: center;
  padding-top: 20px;
}
.copyright p {
  font-size: 14px;
  color: #666;
  line-height: -webkit-calc(24/14);
  line-height: -moz-calc(24/14);
  line-height: calc(24 / 14);
}
.p-b-0 {
  padding-bottom: 0;
}
.p-t-0 {
  padding-top: 0;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-b-30 {
  padding-bottom: 30px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-b-35 {
  padding-bottom: 35px;
}
.p-t-35 {
  padding-top: 35px;
}
.p-b-40 {
  padding-bottom: 40px;
}
.p-t-40 {
  padding-top: 40px;
}
.p-b-45 {
  padding-bottom: 45px;
}
.p-t-45 {
  padding-top: 45px;
}
.p-b-50 {
  padding-bottom: 50px;
}
.p-t-50 {
  padding-top: 50px;
}
.p-b-55 {
  padding-bottom: 55px;
}
.p-t-55 {
  padding-top: 55px;
}
.p-b-60 {
  padding-bottom: 60px;
}
.p-t-60 {
  padding-top: 60px;
}
.p-b-65 {
  padding-bottom: 65px;
}
.p-t-65 {
  padding-top: 65px;
}
.p-b-70 {
  padding-bottom: 70px;
}
.p-t-70 {
  padding-top: 70px;
}
.p-b-75 {
  padding-bottom: 75px;
}
.p-t-75 {
  padding-top: 75px;
}
.p-b-80 {
  padding-bottom: 80px;
}
.p-t-80 {
  padding-top: 80px;
}
.p-b-85 {
  padding-bottom: 85px;
}
.p-t-85 {
  padding-top: 85px;
}
.p-b-90 {
  padding-bottom: 90px;
}
.p-t-90 {
  padding-top: 90px;
}
.p-b-95 {
  padding-bottom: 95px;
}
.p-t-95 {
  padding-top: 95px;
}
.p-b-100 {
  padding-bottom: 100px;
}
.p-t-100 {
  padding-top: 100px;
}
.p-b-105 {
  padding-bottom: 105px;
}
.p-t-105 {
  padding-top: 105px;
}
.p-b-110 {
  padding-bottom: 110px;
}
.p-t-110 {
  padding-top: 110px;
}
.p-b-115 {
  padding-bottom: 115px;
}
.p-t-115 {
  padding-top: 115px;
}
.p-b-120 {
  padding-bottom: 120px;
}
.p-t-120 {
  padding-top: 120px;
}
.p-b-125 {
  padding-bottom: 125px;
}
.p-t-125 {
  padding-top: 125px;
}
.p-b-130 {
  padding-bottom: 130px;
}
.p-t-130 {
  padding-top: 130px;
}
.p-b-135 {
  padding-bottom: 135px;
}
.p-t-135 {
  padding-top: 135px;
}
.p-b-140 {
  padding-bottom: 140px;
}
.p-t-140 {
  padding-top: 140px;
}
.p-b-145 {
  padding-bottom: 145px;
}
.p-t-145 {
  padding-top: 145px;
}
.p-b-150 {
  padding-bottom: 150px;
}
.p-t-150 {
  padding-top: 150px;
}
.p-b-155 {
  padding-bottom: 155px;
}
.p-t-155 {
  padding-top: 155px;
}
.p-b-160 {
  padding-bottom: 160px;
}
.p-t-160 {
  padding-top: 160px;
}
.p-b-165 {
  padding-bottom: 165px;
}
.p-t-165 {
  padding-top: 165px;
}
.p-b-170 {
  padding-bottom: 170px;
}
.p-t-170 {
  padding-top: 170px;
}
.p-b-175 {
  padding-bottom: 175px;
}
.p-t-175 {
  padding-top: 175px;
}
.p-b-180 {
  padding-bottom: 180px;
}
.p-t-180 {
  padding-top: 180px;
}
.p-b-185 {
  padding-bottom: 185px;
}
.p-t-185 {
  padding-top: 185px;
}
.p-b-190 {
  padding-bottom: 190px;
}
.p-t-190 {
  padding-top: 190px;
}
.p-b-195 {
  padding-bottom: 195px;
}
.p-t-195 {
  padding-top: 195px;
}
.p-b-200 {
  padding-bottom: 200px;
}
.p-t-200 {
  padding-top: 200px;
}
.p-b-205 {
  padding-bottom: 205px;
}
.p-t-205 {
  padding-top: 205px;
}
.p-b-210 {
  padding-bottom: 210px;
}
.p-t-210 {
  padding-top: 210px;
}
.p-b-215 {
  padding-bottom: 215px;
}
.p-t-215 {
  padding-top: 215px;
}
.p-b-220 {
  padding-bottom: 220px;
}
.p-t-220 {
  padding-top: 220px;
}
.p-b-225 {
  padding-bottom: 225px;
}
.p-t-225 {
  padding-top: 225px;
}
.p-b-230 {
  padding-bottom: 230px;
}
.p-t-230 {
  padding-top: 230px;
}
.p-b-235 {
  padding-bottom: 235px;
}
.p-t-235 {
  padding-top: 235px;
}
.p-b-240 {
  padding-bottom: 240px;
}
.p-t-240 {
  padding-top: 240px;
}
.p-b-245 {
  padding-bottom: 245px;
}
.p-t-245 {
  padding-top: 245px;
}
.p-b-250 {
  padding-bottom: 250px;
}
.p-t-250 {
  padding-top: 250px;
}
@media (max-width: 1023px) {
  .p-lg-b-0 {
    padding-bottom: 0;
  }
  .p-lg-t-0 {
    padding-top: 0;
  }
}
@media (max-width: 991px) {
  .p-md-b-0 {
    padding-bottom: 0;
  }
  .p-md-t-0 {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  .p-sm-b-0 {
    padding-bottom: 0;
  }
  .p-sm-t-0 {
    padding-top: 0;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-5 {
    padding-bottom: 5px;
  }
  .p-lg-t-5 {
    padding-top: 5px;
  }
}
@media (max-width: 991px) {
  .p-md-b-5 {
    padding-bottom: 5px;
  }
  .p-md-t-5 {
    padding-top: 5px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-5 {
    padding-bottom: 5px;
  }
  .p-sm-t-5 {
    padding-top: 5px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-10 {
    padding-bottom: 10px;
  }
  .p-lg-t-10 {
    padding-top: 10px;
  }
}
@media (max-width: 991px) {
  .p-md-b-10 {
    padding-bottom: 10px;
  }
  .p-md-t-10 {
    padding-top: 10px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-10 {
    padding-bottom: 10px;
  }
  .p-sm-t-10 {
    padding-top: 10px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-15 {
    padding-bottom: 15px;
  }
  .p-lg-t-15 {
    padding-top: 15px;
  }
}
@media (max-width: 991px) {
  .p-md-b-15 {
    padding-bottom: 15px;
  }
  .p-md-t-15 {
    padding-top: 15px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-15 {
    padding-bottom: 15px;
  }
  .p-sm-t-15 {
    padding-top: 15px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-20 {
    padding-bottom: 20px;
  }
  .p-lg-t-20 {
    padding-top: 20px;
  }
}
@media (max-width: 991px) {
  .p-md-b-20 {
    padding-bottom: 20px;
  }
  .p-md-t-20 {
    padding-top: 20px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-20 {
    padding-bottom: 20px;
  }
  .p-sm-t-20 {
    padding-top: 20px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-25 {
    padding-bottom: 25px;
  }
  .p-lg-t-25 {
    padding-top: 25px;
  }
}
@media (max-width: 991px) {
  .p-md-b-25 {
    padding-bottom: 25px;
  }
  .p-md-t-25 {
    padding-top: 25px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-25 {
    padding-bottom: 25px;
  }
  .p-sm-t-25 {
    padding-top: 25px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-30 {
    padding-bottom: 30px;
  }
  .p-lg-t-30 {
    padding-top: 30px;
  }
}
@media (max-width: 991px) {
  .p-md-b-30 {
    padding-bottom: 30px;
  }
  .p-md-t-30 {
    padding-top: 30px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-30 {
    padding-bottom: 30px;
  }
  .p-sm-t-30 {
    padding-top: 30px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-35 {
    padding-bottom: 35px;
  }
  .p-lg-t-35 {
    padding-top: 35px;
  }
}
@media (max-width: 991px) {
  .p-md-b-35 {
    padding-bottom: 35px;
  }
  .p-md-t-35 {
    padding-top: 35px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-35 {
    padding-bottom: 35px;
  }
  .p-sm-t-35 {
    padding-top: 35px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-40 {
    padding-bottom: 40px;
  }
  .p-lg-t-40 {
    padding-top: 40px;
  }
}
@media (max-width: 991px) {
  .p-md-b-40 {
    padding-bottom: 40px;
  }
  .p-md-t-40 {
    padding-top: 40px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-40 {
    padding-bottom: 40px;
  }
  .p-sm-t-40 {
    padding-top: 40px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-45 {
    padding-bottom: 45px;
  }
  .p-lg-t-45 {
    padding-top: 45px;
  }
}
@media (max-width: 991px) {
  .p-md-b-45 {
    padding-bottom: 45px;
  }
  .p-md-t-45 {
    padding-top: 45px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-45 {
    padding-bottom: 45px;
  }
  .p-sm-t-45 {
    padding-top: 45px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-50 {
    padding-bottom: 50px;
  }
  .p-lg-t-50 {
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  .p-md-b-50 {
    padding-bottom: 50px;
  }
  .p-md-t-50 {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-50 {
    padding-bottom: 50px;
  }
  .p-sm-t-50 {
    padding-top: 50px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-55 {
    padding-bottom: 55px;
  }
  .p-lg-t-55 {
    padding-top: 55px;
  }
}
@media (max-width: 991px) {
  .p-md-b-55 {
    padding-bottom: 55px;
  }
  .p-md-t-55 {
    padding-top: 55px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-55 {
    padding-bottom: 55px;
  }
  .p-sm-t-55 {
    padding-top: 55px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-60 {
    padding-bottom: 60px;
  }
  .p-lg-t-60 {
    padding-top: 60px;
  }
}
@media (max-width: 991px) {
  .p-md-b-60 {
    padding-bottom: 60px;
  }
  .p-md-t-60 {
    padding-top: 60px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-60 {
    padding-bottom: 60px;
  }
  .p-sm-t-60 {
    padding-top: 60px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-65 {
    padding-bottom: 65px;
  }
  .p-lg-t-65 {
    padding-top: 65px;
  }
}
@media (max-width: 991px) {
  .p-md-b-65 {
    padding-bottom: 65px;
  }
  .p-md-t-65 {
    padding-top: 65px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-65 {
    padding-bottom: 65px;
  }
  .p-sm-t-65 {
    padding-top: 65px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-70 {
    padding-bottom: 70px;
  }
  .p-lg-t-70 {
    padding-top: 70px;
  }
}
@media (max-width: 991px) {
  .p-md-b-70 {
    padding-bottom: 70px;
  }
  .p-md-t-70 {
    padding-top: 70px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-70 {
    padding-bottom: 70px;
  }
  .p-sm-t-70 {
    padding-top: 70px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-75 {
    padding-bottom: 75px;
  }
  .p-lg-t-75 {
    padding-top: 75px;
  }
}
@media (max-width: 991px) {
  .p-md-b-75 {
    padding-bottom: 75px;
  }
  .p-md-t-75 {
    padding-top: 75px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-75 {
    padding-bottom: 75px;
  }
  .p-sm-t-75 {
    padding-top: 75px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-80 {
    padding-bottom: 80px;
  }
  .p-lg-t-80 {
    padding-top: 80px;
  }
}
@media (max-width: 991px) {
  .p-md-b-80 {
    padding-bottom: 80px;
  }
  .p-md-t-80 {
    padding-top: 80px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-80 {
    padding-bottom: 80px;
  }
  .p-sm-t-80 {
    padding-top: 80px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-85 {
    padding-bottom: 85px;
  }
  .p-lg-t-85 {
    padding-top: 85px;
  }
}
@media (max-width: 991px) {
  .p-md-b-85 {
    padding-bottom: 85px;
  }
  .p-md-t-85 {
    padding-top: 85px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-85 {
    padding-bottom: 85px;
  }
  .p-sm-t-85 {
    padding-top: 85px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-90 {
    padding-bottom: 90px;
  }
  .p-lg-t-90 {
    padding-top: 90px;
  }
}
@media (max-width: 991px) {
  .p-md-b-90 {
    padding-bottom: 90px;
  }
  .p-md-t-90 {
    padding-top: 90px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-90 {
    padding-bottom: 90px;
  }
  .p-sm-t-90 {
    padding-top: 90px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-95 {
    padding-bottom: 95px;
  }
  .p-lg-t-95 {
    padding-top: 95px;
  }
}
@media (max-width: 991px) {
  .p-md-b-95 {
    padding-bottom: 95px;
  }
  .p-md-t-95 {
    padding-top: 95px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-95 {
    padding-bottom: 95px;
  }
  .p-sm-t-95 {
    padding-top: 95px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-100 {
    padding-bottom: 100px;
  }
  .p-lg-t-100 {
    padding-top: 100px;
  }
}
@media (max-width: 991px) {
  .p-md-b-100 {
    padding-bottom: 100px;
  }
  .p-md-t-100 {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-100 {
    padding-bottom: 100px;
  }
  .p-sm-t-100 {
    padding-top: 100px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-105 {
    padding-bottom: 105px;
  }
  .p-lg-t-105 {
    padding-top: 105px;
  }
}
@media (max-width: 991px) {
  .p-md-b-105 {
    padding-bottom: 105px;
  }
  .p-md-t-105 {
    padding-top: 105px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-105 {
    padding-bottom: 105px;
  }
  .p-sm-t-105 {
    padding-top: 105px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-110 {
    padding-bottom: 110px;
  }
  .p-lg-t-110 {
    padding-top: 110px;
  }
}
@media (max-width: 991px) {
  .p-md-b-110 {
    padding-bottom: 110px;
  }
  .p-md-t-110 {
    padding-top: 110px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-110 {
    padding-bottom: 110px;
  }
  .p-sm-t-110 {
    padding-top: 110px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-115 {
    padding-bottom: 115px;
  }
  .p-lg-t-115 {
    padding-top: 115px;
  }
}
@media (max-width: 991px) {
  .p-md-b-115 {
    padding-bottom: 115px;
  }
  .p-md-t-115 {
    padding-top: 115px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-115 {
    padding-bottom: 115px;
  }
  .p-sm-t-115 {
    padding-top: 115px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-120 {
    padding-bottom: 120px;
  }
  .p-lg-t-120 {
    padding-top: 120px;
  }
}
@media (max-width: 991px) {
  .p-md-b-120 {
    padding-bottom: 120px;
  }
  .p-md-t-120 {
    padding-top: 120px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-120 {
    padding-bottom: 120px;
  }
  .p-sm-t-120 {
    padding-top: 120px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-125 {
    padding-bottom: 125px;
  }
  .p-lg-t-125 {
    padding-top: 125px;
  }
}
@media (max-width: 991px) {
  .p-md-b-125 {
    padding-bottom: 125px;
  }
  .p-md-t-125 {
    padding-top: 125px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-125 {
    padding-bottom: 125px;
  }
  .p-sm-t-125 {
    padding-top: 125px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-130 {
    padding-bottom: 130px;
  }
  .p-lg-t-130 {
    padding-top: 130px;
  }
}
@media (max-width: 991px) {
  .p-md-b-130 {
    padding-bottom: 130px;
  }
  .p-md-t-130 {
    padding-top: 130px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-130 {
    padding-bottom: 130px;
  }
  .p-sm-t-130 {
    padding-top: 130px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-135 {
    padding-bottom: 135px;
  }
  .p-lg-t-135 {
    padding-top: 135px;
  }
}
@media (max-width: 991px) {
  .p-md-b-135 {
    padding-bottom: 135px;
  }
  .p-md-t-135 {
    padding-top: 135px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-135 {
    padding-bottom: 135px;
  }
  .p-sm-t-135 {
    padding-top: 135px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-140 {
    padding-bottom: 140px;
  }
  .p-lg-t-140 {
    padding-top: 140px;
  }
}
@media (max-width: 991px) {
  .p-md-b-140 {
    padding-bottom: 140px;
  }
  .p-md-t-140 {
    padding-top: 140px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-140 {
    padding-bottom: 140px;
  }
  .p-sm-t-140 {
    padding-top: 140px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-145 {
    padding-bottom: 145px;
  }
  .p-lg-t-145 {
    padding-top: 145px;
  }
}
@media (max-width: 991px) {
  .p-md-b-145 {
    padding-bottom: 145px;
  }
  .p-md-t-145 {
    padding-top: 145px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-145 {
    padding-bottom: 145px;
  }
  .p-sm-t-145 {
    padding-top: 145px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-150 {
    padding-bottom: 150px;
  }
  .p-lg-t-150 {
    padding-top: 150px;
  }
}
@media (max-width: 991px) {
  .p-md-b-150 {
    padding-bottom: 150px;
  }
  .p-md-t-150 {
    padding-top: 150px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-150 {
    padding-bottom: 150px;
  }
  .p-sm-t-150 {
    padding-top: 150px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-155 {
    padding-bottom: 155px;
  }
  .p-lg-t-155 {
    padding-top: 155px;
  }
}
@media (max-width: 991px) {
  .p-md-b-155 {
    padding-bottom: 155px;
  }
  .p-md-t-155 {
    padding-top: 155px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-155 {
    padding-bottom: 155px;
  }
  .p-sm-t-155 {
    padding-top: 155px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-160 {
    padding-bottom: 160px;
  }
  .p-lg-t-160 {
    padding-top: 160px;
  }
}
@media (max-width: 991px) {
  .p-md-b-160 {
    padding-bottom: 160px;
  }
  .p-md-t-160 {
    padding-top: 160px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-160 {
    padding-bottom: 160px;
  }
  .p-sm-t-160 {
    padding-top: 160px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-165 {
    padding-bottom: 165px;
  }
  .p-lg-t-165 {
    padding-top: 165px;
  }
}
@media (max-width: 991px) {
  .p-md-b-165 {
    padding-bottom: 165px;
  }
  .p-md-t-165 {
    padding-top: 165px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-165 {
    padding-bottom: 165px;
  }
  .p-sm-t-165 {
    padding-top: 165px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-170 {
    padding-bottom: 170px;
  }
  .p-lg-t-170 {
    padding-top: 170px;
  }
}
@media (max-width: 991px) {
  .p-md-b-170 {
    padding-bottom: 170px;
  }
  .p-md-t-170 {
    padding-top: 170px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-170 {
    padding-bottom: 170px;
  }
  .p-sm-t-170 {
    padding-top: 170px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-175 {
    padding-bottom: 175px;
  }
  .p-lg-t-175 {
    padding-top: 175px;
  }
}
@media (max-width: 991px) {
  .p-md-b-175 {
    padding-bottom: 175px;
  }
  .p-md-t-175 {
    padding-top: 175px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-175 {
    padding-bottom: 175px;
  }
  .p-sm-t-175 {
    padding-top: 175px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-180 {
    padding-bottom: 180px;
  }
  .p-lg-t-180 {
    padding-top: 180px;
  }
}
@media (max-width: 991px) {
  .p-md-b-180 {
    padding-bottom: 180px;
  }
  .p-md-t-180 {
    padding-top: 180px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-180 {
    padding-bottom: 180px;
  }
  .p-sm-t-180 {
    padding-top: 180px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-185 {
    padding-bottom: 185px;
  }
  .p-lg-t-185 {
    padding-top: 185px;
  }
}
@media (max-width: 991px) {
  .p-md-b-185 {
    padding-bottom: 185px;
  }
  .p-md-t-185 {
    padding-top: 185px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-185 {
    padding-bottom: 185px;
  }
  .p-sm-t-185 {
    padding-top: 185px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-190 {
    padding-bottom: 190px;
  }
  .p-lg-t-190 {
    padding-top: 190px;
  }
}
@media (max-width: 991px) {
  .p-md-b-190 {
    padding-bottom: 190px;
  }
  .p-md-t-190 {
    padding-top: 190px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-190 {
    padding-bottom: 190px;
  }
  .p-sm-t-190 {
    padding-top: 190px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-195 {
    padding-bottom: 195px;
  }
  .p-lg-t-195 {
    padding-top: 195px;
  }
}
@media (max-width: 991px) {
  .p-md-b-195 {
    padding-bottom: 195px;
  }
  .p-md-t-195 {
    padding-top: 195px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-195 {
    padding-bottom: 195px;
  }
  .p-sm-t-195 {
    padding-top: 195px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-200 {
    padding-bottom: 200px;
  }
  .p-lg-t-200 {
    padding-top: 200px;
  }
}
@media (max-width: 991px) {
  .p-md-b-200 {
    padding-bottom: 200px;
  }
  .p-md-t-200 {
    padding-top: 200px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-200 {
    padding-bottom: 200px;
  }
  .p-sm-t-200 {
    padding-top: 200px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-205 {
    padding-bottom: 205px;
  }
  .p-lg-t-205 {
    padding-top: 205px;
  }
}
@media (max-width: 991px) {
  .p-md-b-205 {
    padding-bottom: 205px;
  }
  .p-md-t-205 {
    padding-top: 205px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-205 {
    padding-bottom: 205px;
  }
  .p-sm-t-205 {
    padding-top: 205px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-210 {
    padding-bottom: 210px;
  }
  .p-lg-t-210 {
    padding-top: 210px;
  }
}
@media (max-width: 991px) {
  .p-md-b-210 {
    padding-bottom: 210px;
  }
  .p-md-t-210 {
    padding-top: 210px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-210 {
    padding-bottom: 210px;
  }
  .p-sm-t-210 {
    padding-top: 210px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-215 {
    padding-bottom: 215px;
  }
  .p-lg-t-215 {
    padding-top: 215px;
  }
}
@media (max-width: 991px) {
  .p-md-b-215 {
    padding-bottom: 215px;
  }
  .p-md-t-215 {
    padding-top: 215px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-215 {
    padding-bottom: 215px;
  }
  .p-sm-t-215 {
    padding-top: 215px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-220 {
    padding-bottom: 220px;
  }
  .p-lg-t-220 {
    padding-top: 220px;
  }
}
@media (max-width: 991px) {
  .p-md-b-220 {
    padding-bottom: 220px;
  }
  .p-md-t-220 {
    padding-top: 220px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-220 {
    padding-bottom: 220px;
  }
  .p-sm-t-220 {
    padding-top: 220px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-225 {
    padding-bottom: 225px;
  }
  .p-lg-t-225 {
    padding-top: 225px;
  }
}
@media (max-width: 991px) {
  .p-md-b-225 {
    padding-bottom: 225px;
  }
  .p-md-t-225 {
    padding-top: 225px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-225 {
    padding-bottom: 225px;
  }
  .p-sm-t-225 {
    padding-top: 225px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-230 {
    padding-bottom: 230px;
  }
  .p-lg-t-230 {
    padding-top: 230px;
  }
}
@media (max-width: 991px) {
  .p-md-b-230 {
    padding-bottom: 230px;
  }
  .p-md-t-230 {
    padding-top: 230px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-230 {
    padding-bottom: 230px;
  }
  .p-sm-t-230 {
    padding-top: 230px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-235 {
    padding-bottom: 235px;
  }
  .p-lg-t-235 {
    padding-top: 235px;
  }
}
@media (max-width: 991px) {
  .p-md-b-235 {
    padding-bottom: 235px;
  }
  .p-md-t-235 {
    padding-top: 235px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-235 {
    padding-bottom: 235px;
  }
  .p-sm-t-235 {
    padding-top: 235px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-240 {
    padding-bottom: 240px;
  }
  .p-lg-t-240 {
    padding-top: 240px;
  }
}
@media (max-width: 991px) {
  .p-md-b-240 {
    padding-bottom: 240px;
  }
  .p-md-t-240 {
    padding-top: 240px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-240 {
    padding-bottom: 240px;
  }
  .p-sm-t-240 {
    padding-top: 240px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-245 {
    padding-bottom: 245px;
  }
  .p-lg-t-245 {
    padding-top: 245px;
  }
}
@media (max-width: 991px) {
  .p-md-b-245 {
    padding-bottom: 245px;
  }
  .p-md-t-245 {
    padding-top: 245px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-245 {
    padding-bottom: 245px;
  }
  .p-sm-t-245 {
    padding-top: 245px;
  }
}
@media (max-width: 1023px) {
  .p-lg-b-250 {
    padding-bottom: 250px;
  }
  .p-lg-t-250 {
    padding-top: 250px;
  }
}
@media (max-width: 991px) {
  .p-md-b-250 {
    padding-bottom: 250px;
  }
  .p-md-t-250 {
    padding-top: 250px;
  }
}
@media (max-width: 767px) {
  .p-sm-b-250 {
    padding-bottom: 250px;
  }
  .p-sm-t-250 {
    padding-top: 250px;
  }
}
.img-40 {
  height: 40px;
  width: 40px;
}
.img-120 {
  width: 120px;
  height: 120px;
}
