/* style.css */

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #4BA2A5;
    margin: 0;
    padding: 0;
 

/* Container Styling */
.container {
    width: 60%;
    max-width: 400px;
    height: 35vh;
    margin: 25vh 60vw;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Header Styling */
.header {
    text-align: center;
    margin-bottom: 20px;
}


/* Form Group Styling */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
    margin-left: -1vw;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    margin-left: -1vw;
}

/* Button Styling */
.btn1 {
    display: block;
    width: 90%;
    padding: 12px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color:  black;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    transition: background-color 0.3s ease;
    margin-left: 1vw;
    margin-top: 3vh;
}

.btn1:hover {
    background-color:#4BA2A5;;
}

/* Form Footer Styling */
.form-footer {
    text-align: center;
    margin-top: 20px;
}

.form-footer p {
    font-size: 14px;
    color: #333333;
}

.form-footer a {
    color: #4682A9;
}

/* Responsive Styling */
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .header h2 {
        font-size: 20px;
    }
}}